@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* text-primary text-ternary and text-secondary bg-btn-secondary utilities */
  --color-primary: var(--primary-text-color);
  --color-secondary: var(--secondary-text-color);
  --color-ternary: var(--ternary-text-color);
  --color-btn-primary: var(--primary-btn-color);
  --color-btn-seconadry: var(--secondary-btn-color);

  /* hover utility for button*/
  --color-hover-btn-primary: var(--primary-btn-hover-color);

  /* bg-main utility */
  --color-main-bg: var(--bg-color);
  --color-nav-main-bg: var(--primary-nav-bg);
}

:root {
  --primary-text-color: #d1d5dc;
  --secondary-text-color: #6102E0;
  --ternary-text-color: #8e8e8e;
  --bg-color: #030712;
  --primary-btn-color: #6102E0;
  --secondary-btn-color: #101828;
  --primary-btn-hover-color: #4800C6;

  /* mobile nav css */
  --primary-nav-bg: #101828;
}

/* light mode */
.light {
  --primary-text-color: #101828; 
  --secondary-text-color: #6102E0;
  --ternary-text-color: #282F3E;
  --secondary-btn-color: #D0B3F6;
  --bg-color: #EFE6FC;
  
  /* mobile nav */
  --primary-nav-bg: #D0B3F6;
}

body{
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: background-color 0.2s ease-in-out;
}